.consultation {
  width: 100%;
  min-height: 300px;
  padding: 100px 0;
  box-sizing: border-box;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../../assets/spacejoy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.consultation__container {
  display: flex;
  column-gap: 182px;
  align-items: center;
}

.consultation__title {
  padding-bottom: 30px;
}

.consultation__paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}

.consultation__phone {
  color: inherit;
}

.consultation__button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-decoration: none;
  padding: 16px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  transition: 300ms;
}

.consultation__button:hover {
  opacity: 0.8;
}
