.about {
  padding-top: 74px;
  padding-bottom: 202px;
  position: relative;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.about__title {
  padding-bottom: 37px;
}
.about__img {
  max-width: 902px;
  width: 100%;
  height: 669px;
  object-fit: cover;
  display: block;
  grid-column: 1/16;
  grid-row: 1/11;
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
    0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  border-radius: 2px;
}

.about__content {
  max-width: 488px;
  box-sizing: border-box;
  height: fit-content;
  background-color: #2947a9;
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
    0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  border-radius: 2px;
  grid-column: 12/20;
  grid-row: 2/10;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 40px;
}

.about__texts {
  margin-bottom: 74px;
}

.about__paragraph {
  max-width: 388px;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.about__paragraph:first-child {
  margin-bottom: 30px;
}

.about__button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 16px 20px;
  background: #fff;
  border: 2px solid #2947a9;
  border-radius: 6px;
  color: #2947a9;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  transition: 300ms;
}

.about__button:hover {
  background-color: #2947a9;
  color: #fff;
  border: 2px solid #fff;
}
