.feedback {
  padding: 60px 0;
  background-color: #f6f8f7;
}

.feedback__title {
  padding-bottom: 20px;
}

.feedback__description {
  max-width: 539px;
  margin: 0 auto 38px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #292e3d;
}

.feedback__form {
  max-width: 592px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 20px;
}

.feedback__form-inputs-container {
  position: relative;
  width: 100%;
}

.feedback__label {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #a3aac2;
  left: 8px;
  top: 10px;
  cursor: text;
}

.feedback__input {
  box-sizing: border-box;
  padding: 10px 8px;
  background-color: #fff;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #292e3d;
  width: inherit;
}

.feedback__input:focus ~ .feedback__label {
  opacity: 0;
}

.feedback__input option:nth-child(1)::after {
  content: '*';
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ed6565;
  width: 100%;
  height: 100%;
}

.feedback__input_type_required::-webkit-input-placeholder {
  content: '*';
  color: #ed6565;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.feedback__input_type_textarea {
  min-height: 135px;
  resize: vertical;
  grid-column: 1/-1;
}

.feedback__note {
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #667299;
  margin-top: 0;
  margin-bottom: 28px;
}

.feedback__asterisk {
  color: #c40303;
}

.feedback__button {
  grid-column: 1/-1;
  margin: 0 auto;
}

/* .feedback__select__control {
  width: 100%;
  background-color: #fff !important;
  border: 1px solid #e0e3eb !important;
  border-radius: 4px !important;
  height: 43px;
}

.feedback__select__input-container {
  margin: 0 !important;
}

.feedback__select__value-container {
  padding: 0 !important;
}

.feedback__select__placeholder {
  padding: 10px 6px !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #a3aac2 !important;
  width: max-content;
} */

.feedback__select__placeholder::after {
  content: '*';
  color: #c40303;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/* .feedback__select__control--is-focused {
  color: #c40303 !important;
  border: 1px solid black !important;
}

.feedback__select__control--menu-is-open {
  color: #c40303 !important;
  border: 1px solid black !important;
} */
